///////////////////////////////////////
// Setting
///////////////////////////////////////

@import "susy";

$susy: (
	columns: 16,
	global-box-sizing: border-box,
	//debug: (image: show)
);

@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@include border-box-sizing;



///////////////////////////////////////
// style
///////////////////////////////////////

h2 {
	padding: 1rem 0;
	text-align: center;
	color: #555;
}

ul, ol {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.site-header, .site-footer {
	background: rgba(234,159,195,0.8);
}

.site-header {
	a {
		color: #555;
		text-decoration: none;
	}
}

.logo {
	float: left;
	line-height: 2rem;
	font-size: 1.5rem;
}

nav {
	float: right;

	li {
		list-style: none;
		float: left;
		margin-left: 1em;
		line-height: 2rem;
	}
}

.content {
	margin-top: 5vh;
	padding-bottom: 1rem;
	background: rgba(113,218,210,0.8);
}

.sidebar {
	margin-top: 5vh;
	background: rgba(250,231,179,0.8);
	padding-bottom: 1rem;

	li {
		list-style: none;

		a {
			color: #666;
			padding-left: 1rem;
			line-height: 2;
			text-decoration: none;
		}
	}
}

.widget {
	background: rgba(240,150,113,0.8);
}

.site-footer {
	margin-top: 5vh;
}

.gallery {
	padding-left: span(1 of 12 wide);
	padding-right: span(1 of 12 wide);
}


///////////////////////////////////////
// Layout
///////////////////////////////////////

.wrap {
	@include container(960px);
}

.content {
	@include cf;
	@include span(12 of 16);
}

.sidebar {
	@include cf;
	@include span(4 of 16 last);
}

.gallery {
	@include cf;
}

.gallery__item {
	list-style: none;
	@include span(2 of 10);
	margin-bottom: gutter(10);

	&:nth-child(5n) {
		@include last;
	}
}

.widget {
	@include gallery(4 of 16);
}




























