*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.site-header, .site-footer {
  background: rgba(234, 159, 195, 0.8);
}

.site-header a {
  color: #555;
  text-decoration: none;
}

.logo {
  float: left;
  line-height: 2rem;
  font-size: 1.5rem;
}

nav {
  float: right;
}
nav li {
  list-style: none;
  float: left;
  margin-left: 1em;
  line-height: 2rem;
}

.content {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: rgba(113, 218, 210, 0.8);
}

.sidebar {
  margin-top: 5vh;
  background: rgba(250, 231, 179, 0.8);
  padding-bottom: 1rem;
}
.sidebar li {
  list-style: none;
}
.sidebar li a {
  color: #666;
  padding-left: 1rem;
  line-height: 2;
  text-decoration: none;
}

.widget {
  background: rgba(240, 150, 113, 0.8);
}

.site-footer {
  margin-top: 5vh;
}

.gallery {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
}

.wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  width: 74.68354%;
  float: left;
  margin-right: 1.26582%;
}
.content:after {
  content: " ";
  display: block;
  clear: both;
}

.sidebar {
  width: 24.05063%;
  float: right;
  margin-right: 0;
}
.sidebar:after {
  content: " ";
  display: block;
  clear: both;
}

.gallery:after {
  content: " ";
  display: block;
  clear: both;
}

.gallery__item {
  list-style: none;
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  margin-bottom: 2.04082%;
}
.gallery__item:nth-child(5n) {
  float: right;
  margin-right: 0;
}

.widget {
  width: 24.05063%;
  float: left;
}
.widget:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.widget:nth-child(4n + 2) {
  margin-left: 25.31646%;
  margin-right: -100%;
  clear: none;
}
.widget:nth-child(4n + 3) {
  margin-left: 50.63291%;
  margin-right: -100%;
  clear: none;
}
.widget:nth-child(4n + 4) {
  margin-left: 75.94937%;
  margin-right: -100%;
  clear: none;
}
